In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_counties_in_Ohio'

In [3]:
tables = pd.read_html(url)
tables

[               County  FIPS code[10] County Seat[12]      Est.[13]  \
 0        Adams County              1      West Union  Jul 10, 1797
 1        Allen County              3            Lima   Mar 1, 1820
 2      Ashland County              5         Ashland  Feb 24, 1846
 3    Ashtabula County              7       Jefferson   Jun 7, 1807
 4       Athens County              9          Athens   Mar 1, 1805
 ..                ...            ...             ...           ...
 83  Washington County            167        Marietta  Jul 27, 1788
 84       Wayne County            169         Wooster   Mar 1, 1808
 85    Williams County            171           Bryan   Apr 1, 1820
 86        Wood County            173   Bowling Green   Apr 1, 1820
 87     Wyandot County            175  Upper Sandusky   Feb 3, 1845

                                      Origin[14]  \
 0                               Hamilton County
 1                                 Shelby County
 2   Wayne, Richland, Huron, and Lorain Counties
 3                  Trumbull and Geauga Counties
 4                             Washington County
 ..                                          ...
 83                 One of the original counties
 84                         From non-county area
 85                                 Darke County
 86         Refactored from non-county territory
 87        Marion, Crawford, and Hardin Counties

                                     Etymology[13][14]  Population[10][12]  \
 0   John Adams (1735–1826), President of the Unite...               28550
 1   John Allen (1771/2-1813), a War of 1812 colone...              106331
 2   Ashland, home of U.S. Senator from Kentucky He...               53139
 3   Ashtabula River, which means "fish river" in a...              101497
 4                                    Athens in Greece               64757
 ..                                                ...                 ...
 83  George Washington (1732–1799), commander of th...               61778
 84  General Anthony Wayne (1745–1796), a Revolutio...              114520
 85  David Williams (1754–1831), captor of spy John...               37642
 86  Eleazer D. Wood (1783–1814), founder of Fort M...              125488
 87                                    Wyandot Indians               22615

                    Area[12]  Map
 0   583.91 sq mi(1,512 km2)  NaN
 1   404.43 sq mi(1,047 km2)  NaN
 2   424.37 sq mi(1,099 km2)  NaN
 3   702.44 sq mi(1,819 km2)  NaN
 4   506.76 sq mi(1,313 km2)  NaN
 ..                      ...  ...
 83  635.15 sq mi(1,645 km2)  NaN
 84  555.36 sq mi(1,438 km2)  NaN
 85  421.74 sq mi(1,092 km2)  NaN
 86  617.32 sq mi(1,599 km2)  NaN
 87  405.61 sq mi(1,051 km2)  NaN

 [88 rows x 9 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Countie...,
   vteLists of United States counties and county equivalents  \
 0                                             States
 1                                   Federal district
 2                                      Insular areas
 3                                   Outlying Islands

   vteLists of United States counties and county equivalents.1
 0  Alabama Alaska Arizona Arkansas California Col...
 1                               District of Columbia
 2  American Samoa Guam Northern Mariana Islands P...
 3               United States Minor Outlying Islands           ,
     vte State of Ohio                                vte State of Ohio.1  \
 0  Columbus (capital)                                 Columbus (capital)
 1              Topics  History Geography People Government Administra...
 2             Society  Culture Crime Demographics Economy Education P...
 3             Regions  Allegheny Plateau Appalachian Ohio The Bluegra...
 4         Metro areas  Akron Canton Cincinnati Cleveland Columbus Day...
 5      Largest cities  Akron Canton Cincinnati Cleveland Columbus Cuy...
 6            Counties  Adams Allen Ashland Ashtabula Athens Auglaize ...

   vte State of Ohio.2
 0  Columbus (capital)
 1                 NaN
 2                 NaN
 3                 NaN
 4                 NaN
 5                 NaN
 6                 NaN  ]

In [13]:
cnty_df = tables[0]
cnty_df.columns = ['County', 'FIPS Code', 'County Seat', 'Est.', 'Origin', 'Etymology', 'Population', 'Area', 'Map']
cnty_df.head()

,County,FIPS Code,County Seat,Est.,Origin,Etymology,Population,Area,Map
0,Adams County,1,West Union,"Jul 10, 1797",Hamilton County,"John Adams (1735–1826), President of the Unite...",28550,"583.91 sq mi(1,512 km2)",NaN
1,Allen County,3,Lima,"Mar 1, 1820",Shelby County,"John Allen (1771/2-1813), a War of 1812 colone...",106331,"404.43 sq mi(1,047 km2)",NaN
2,Ashland County,5,Ashland,"Feb 24, 1846","Wayne, Richland, Huron, and Lorain Counties","Ashland, home of U.S. Senator from Kentucky He...",53139,"424.37 sq mi(1,099 km2)",NaN
3,Ashtabula County,7,Jefferson,"Jun 7, 1807",Trumbull and Geauga Counties,"Ashtabula River, which means ""fish river"" in a...",101497,"702.44 sq mi(1,819 km2)",NaN
4,Athens County,9,Athens,"Mar 1, 1805",Washington County,Athens in Greece,64757,"506.76 sq mi(1,313 km2)",NaN

In [14]:
cnty_df = cnty_df.drop(['County Seat', 'Est.', 'Origin', 'Etymology', 'Area', 'Map'], axis=1)
cnty_df = cnty_df.rename(columns={'FIPS Code': 'County Code'})
cnty_df.head()

             County  County Code  Population
0      Adams County            1       28550
1      Allen County            3      106331
2    Ashland County            5       53139
3  Ashtabula County            7      101497
4     Athens County            9       64757

In [15]:
cnty_df.County = cnty_df.County.str.replace('County','')
cnty_df.head()

       County  County Code  Population
0      Adams             1       28550
1      Allen             3      106331
2    Ashland             5       53139
3  Ashtabula             7      101497
4     Athens             9       64757

In [16]:
output_data_file = "resources/cnty_pop.csv"

In [17]:
cnty_df.to_csv(output_data_file, index=False, header=True)